.hs-item {
	height: 720px;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;

    span {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 3px;
        margin-bottom: 5px;
        display: block;
        position: relative;
        top: 50px;
    }

    h2 {
        font-size: 60px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px;
        position: relative;
        top: 50px;
    }

    p {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 35px;
        position: relative;
        top: 100px;
    }
    .sb-line {
        margin-right: 5px;
    }
    .container {
        position: absolute;
	    padding-top: 170px;
    }

	.offer-card {
        position: absolute;
        right: 0;
        top: 226px;
        width: 162px;
        height: 162px;
        border-radius: 50%;
        background: #f51167;
        text-align: center;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
		animation: offer-round linear 0.5s;

		@keyframes offer-round {
			from {
				-webkit-transform: rotate(0deg);
				-ms-transform: rotate(0deg);
				transform: rotate(0deg);
			}			
			to {
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);				
			}
		}

		span {
			font-size: 18px;
			text-transform: lowercase;
			position: relative;
			top: 10px;
		}

		h2 {
			font-size: 72px;
			font-weight: 400;
			line-height: 1;
			top:10px;
		}

		p {
			text-transform: uppercase;
			line-height: 1;
			font-size: 14px;
			top: 15px;
		}
    }

	.offer-card:after {
		position: absolute;
		content: "";
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		border: 1px solid #f96790;
		left: 5px;
		top: 5px;
		border-radius: 50%;
	}
}

@media only screen and (max-width: 768px) {
	.hs-item {
		height: 360px;
		.text {
			span {
				font-size: 16px;
				top: 30px;
			}
		
			h2 {
				font-size: 40px;
				top: 30px;
			}
			p {
				display: none;
			}
		}
		.offer-card  {
			top: 10px;
		}
	}
}


@media only screen and (max-width: 575px) {
	.offer-card  {
		display: none;
	}
	.text {
		span {
			display: none;
		}
	
		h2 {
			display: none;
		}
	}
}

@media only screen and (max-width: 425px) {
	.hs-item {
		height: 300px;
	}
}
