.page-top-info {
	background: #f8f7f7;
	padding: 60px 0 70px;

    h4 {
        color: #414141;
        font-weight: 700;
        text-transform: uppercase;
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: 500;        
    }
}